anthropic==0.34.2
apscheduler==3.10.4
backports.tarfile==1.2.0
cooklang==1.0
cryptography==42.0.8
dspy==2.6.10
dspy-ai==2.4.16
exceptiongroup==1.2.2
fastapi-sso==0.10.0
grpcio-status==1.62.3
gunicorn==22.0.0
httptools==0.6.1
importlib-resources==6.4.0
ipykernel==6.29.5
jaraco.text==3.12.1
jiwer==3.0.4
openpyxl==3.1.5
orjson==3.10.7
pickleshare==0.7.5
pip-chill==1.0.3
pyjwt==2.9.0
pynacl==1.5.0
python-levenshtein==0.25.1
rouge-score==0.1.2
rq==1.16.2
scipy==1.14.1
seaborn==0.13.2
tabulate==0.9.0
tomli==2.0.1
uvloop==0.20.0
vertexai==1.66.0
watchfiles==0.24.0
websockets==13.0.1
